* {
  box-sizing: border-box;
}

.pageWrapper {
  min-height: 100vh;
  background: #f9f9f9;
  position: relative;
}

.profile {
  min-height: 35vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}

.imgWrapper {
  grid-column: 2/3;
}

.img {
  width: 100%;
  height: 100%;
  /* background-repeat: no-repeat;
  background-position: center; */
  /* background-size: cover; */
  border-radius: 3px;
  object-fit: cover;
}

.profileContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 7;
}

.myModal {
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  max-height: 400px;
  overflow-y: scroll;
  background: transparent;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.myModal::-webkit-scrollbar {
  display: none;
}

.addPictureModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  min-height: 100px;
  z-index: 10;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addProfilePicForm {
  width: 100%;
  height: 100%;
  padding: 20px;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.displayNone {
  display: none;
}

@media screen and (max-width: 800px) {
  .myModal {
    width: 90%;
  }

  .addPictureModal {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .profile {
    display: flex;
    flex-direction: column-reverse;
  }

  #title {
    font-size: 30px;
    margin-top: 15px;
  }

  .d-flex {
    margin-bottom: 8px;
  }
}
