* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
}

h3 {
  margin-bottom: 10px;
}

/*Utils*/

.marginA {
  margin-bottom: 15px;
}

.marginB {
  margin-bottom: 25px;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-colorRed {
  background-color: #cc0000;
  color: white;
}

.bg-colorDark {
  background-color: #0f0f0f;
  color: white;
}

.btn {
  padding: 10px 25px;
  border: 1px solid #999;
  border-radius: 5px;
  letter-spacing: 2px;

  cursor: pointer;
}

.cont {
  height: 100vh;
}

.bgphoto {
  background: url(https://media.istockphoto.com/photos/teamwork-network-and-community-concept-picture-id1290692464?b=1&k=20&m=1290692464&s=170667a&w=0&h=dqOKmx-eAr8otIlDUgr6wtFQVq4ssywThTOnyhOpiA0=)
    no-repeat center center/cover;
  position: relative;
  padding: 0px 50px;
}

.header {
  height: 20vh;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: bold;
}
.loginCont {
}

.showcase {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.showcaseContent {
  transform: translate(-100%, -50%);
}

.parag {
  color: white;
}

.title {
  font-size: 70px;
  letter-spacing: 5px;
  color: white;
}

/* MODAL */

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 5;
  opacity: 1;
  transition: all 0.4s ease;
}

.modal-window {
  padding: 30px;
  width: 500px;
  min-height: 300px;
  z-index: 7;
  background: #f9f9f9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.form {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

#formTitle {
}

.formField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.label {
  margin-bottom: 10px;
  font-size: 16px;
}

.formInput {
  height: 30px;
  width: 100%;
  outline: none;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.displayNone {
  display: none;
}
