<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Twitter</title>

    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}" />
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap"
      rel="stylesheet"
    />

    <link th:href="@{/css/showcase.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="cont">
      <div class="bgphoto">
        <header class="header">
          <!-- <div class="logo"></div> -->
          <div class="loginCont">
            <button id="loginBtn" class="btn bg-colorRed">Login</button>
          </div>
        </header>
        <div class="showcase">
          <div class="showcaseContent">
            <h1 class="title marginB">Twitter</h1>
            <h4 class="parag marginB">Connect with your friends</h4>
            <button id="signUpBtn" class="btn bg-colorDark">
              <!-- <a th:href="@{/signup}">Signup</a> -->
              Signup
            </button>
          </div>
        </div>
        <div class="modal hidden">
          <div class="modal-window hidden">
            <form class="form" method="POST">
              <h3 id="formTitle"></h3>
              <div class="formField marginA">
                <label class="label">Username</label>
                <input
                  type="text"
                  class="formInput"
                  name="username"
                  id="name"
                  required
                />
              </div>
              <div id="emailField" class="formField marginA">
                <label class="label">Email</label>
                <input type="email" class="formInput" name="email" id="email" />
              </div>
              <div class="formField marginA">
                <label class="label">Password</label>
                <input
                  type="password"
                  class="formInput"
                  name="password"
                  id="password"
                  required
                />
              </div>
              <button type="submit" class="btn bg-colorDark">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script>
      const loginBtn = document.querySelector("#loginBtn");
      const signUpBtn = document.querySelector("#signUpBtn");
      const formTitle = document.querySelector("#formTitle");
      const overlay = document.querySelector(".modal");
      const modal = document.querySelector(".modal-window");
      const emailField = document.getElementById("emailField");

      const form = document.querySelector(".form");

      loginBtn.addEventListener("click", () => {
        if (!emailField.classList.contains("displayNone")) {
          emailField.classList.add("displayNone");
        }
        overlay.classList.remove("hidden");
        modal.classList.remove("hidden");

        formTitle.textContent = "Login";
        form.setAttribute("action", "/login");
      });

      signUpBtn.addEventListener("click", () => {
        if (emailField.classList.contains("displayNone")) {
          emailField.classList.remove("displayNone");
        }
        overlay.classList.remove("hidden");
        modal.classList.remove("hidden");
        formTitle.textContent = "Sign up";

        form.setAttribute("action", "/signup");
      });

      overlay.addEventListener("click", (e) => {
        if (!e.target.closest(".modal-window")) {
          overlay.classList.add("hidden");
          modal.classList.add("hidden");
        }
      });
    </script>
  </body>
</html>
