<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Twitter | Login</title>
        <meta charset="UTF-8" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        
        <link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="bgphoto">
            <div class="container">
               
            <div class="wrapper">
                 <h3>Login</h3>
               
                <form class="form">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"/>
                  
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1"/>
                </div>
                <button type="submit" class="btn bg-colorRed">Submit</button>
              </form>
            </div>
            
        </div>
        </div>
        
        
        

        
    </body>
</html>
