<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Twitter | Login</title>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <link th:href="@{/css/tweets.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="pageWrapper">
      <div class="container">
        <nav class="navbar navbar-light bg-light">
          <div class="p-0 container-fluid">
            <a class="navbar-brand" th:href="@{/users/{username}(username=${username})}">
              <h3 class="text-muted">My page</h3>
            </a>
            <p th:text="${username}">user</p>

            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
            <div class="d-flex">
              <button
                id="newTweet"
                class="mr-2 btn btn-outline-danger"
                type="button"
              >
                New tweet
              </button>
              <form th:action="@{/logout}" method="POST">
                <input
                  class="btn btn-outline-dark"
                  type="submit"
                  value="Logout"
                >
                  
                </inp>
              </div>
            </form>
          </div>
        </nav>

        <div class="ml-3 mt-4 mb-4">
          <h2 class="text-muted">Latest tweets</h2>
        </div>
        <!-- TWEETTI LISTA -->
        <div class="tweetList">
          <ul class="list-group">
            <!-- <span th:if="${tweets.size() == 0}">No tweets available</span> -->
            <li class="list-group-item border-0 bg-light" th:each="tweet : ${tweets}">
              <div class="card">
                <div class="card-body">
                  <h6 id="user" class="card-subtitle mb-2 text-muted" th:text="${tweet.account.username}">
                    @willydownhouse
                  </h6>

                  <p id="tweet" class="card-text" th:text="${tweet.text}">
                    Some quick example text to build on the card title and make
                    up the bulk of the card's content.
                  </p>
                  <p >
                    <small id="date" class="card-subtitle mb-2 text-muted" th:text="${tweet.createdAt}">10/10/2021</small>
                  </p>
                  <button id="commentsBtn" type="button" class="btn btn-link">
                    Comments
                  </button>

                  <div class="commentFormWrapper displayNone">
                    <!-- KOMMENTTI LISTA -->
                    <div>
                      <ul class="list-group">
                        <li class="list-group-item border-0">
                          <div class="card border-0">
                            <div class="card-body">
                              <h6 class="card-subtitle mb-2 text-muted">
                                @valavuori
                              </h6>
                              <p class="card-text">Hirveetä paskaa</p>
                              <h6
                                id="date"
                                class="card-subtitle mb-2 text-muted"
                              >
                                10/10/2021
                              </h6>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                    <!-- LISÄÄ KOMMENTTI FORMI -->
                    <form>
                      <label class="form-label">Add a comment</label>
                      <input
                        type="text"
                        class="form-control"
                        aria-describedby="passwordHelpBlock"
                      />
                      <button
                        class="mt-3 btn btn-outline-secondary"
                        type="submit"
                      >
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- Modal -->
      <div class="overlay hidden"></div>
      <div class="myModal hidden">
        <form method="POST" th:action="@{/tweets}">
          <div class="mb-3">
            <label class="form-label text-muted">New Tweet</label>
            <textarea name="text" class="form-control" rows="3" required></textarea>
          </div>
          <button class="mt-1 btn btn-outline-secondary" type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>

    <script>
      const overlay = document.querySelector(".overlay");
      const myModal = document.querySelector(".myModal");
      const newTweetBtn = document.getElementById("newTweet");
      const commentsBtn = document.getElementById("commentsBtn");
      const commentsForm = document.querySelector(".commentFormWrapper");

      newTweetBtn.addEventListener("click", () => {
        overlay.classList.remove("hidden");
        myModal.classList.remove("hidden");
        myModal.classList.add("showModal");
      });
      overlay.addEventListener("click", () => {
        overlay.classList.add("hidden");
        myModal.classList.add("hidden");
        myModal.classList.remove("showModal");
      });

      commentsBtn.addEventListener("click", () => {
        commentsForm.classList.toggle("displayNone");
      });
    </script>
  </body>
</html>
