<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Twitter</title>
    <meta charset="UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />

    <link th:href="@{/css/tweets.css}" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="pageWrapper">
      <div class="container">
        <nav class="navbar navbar-light bg-light">
          <div class="p-0 container-fluid">
            <a class="navbar-brand" th:href="@{/users/{username}(username=${currentUser})}">
              <button class="btn btn-outline-secondary">MyPage</button>
            </a>
            <p th:text="${currentUser}">user</p>

            <div class="d-flex">
              <button
                id="newTweet"
                class="mr-2 btn btn-outline-danger"
                type="button"
              >
                New tweet
              </button>
              <form th:action="@{/logout}" method="POST">
                <input
                  class="btn btn-outline-dark"
                  type="submit"
                  value="Logout"
                >
                  
                </inp>
              </div>
            </form>
          </div>
        </nav>

        
        <div th:replace="fragments/layout :: header(text='Latest tweets')"></div>


        <!-- TWEETTI LISTA -->
        <div th:replace="fragments/layout :: tweets"></div>

        
      </div>
      <!-- Modal -->
      <div class="overlay hidden"></div>
      <div class="myModal hidden">
        <form method="POST" th:action="@{/tweets}">
          <div class="mb-3">
            <label class="form-label text-muted">New Tweet</label>
            <textarea name="text" class="form-control" rows="3" required></textarea>
          </div>
          <button class="mt-1 btn btn-outline-secondary" type="submit">
            Submit
          </button>
        </form>
      </div>
    </div>
    <script th:src="@{https://kit.fontawesome.com/415dfa391f.js}" crossorigin="anonymous"></script>
    <script th:inline="javascript"> var contextRoot = /*[[@{/}]]*/ '';</script>
    <script type="module" th:src="@{/js/tweets.js}" defer></script>
    
  </body>
</html>
